<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Chatter uses cutting-edge NLP (Natural Language Processing) tech to summarize plain English user feedback. Using advanced algorithms in conjunction with user oriented applications (on both Android and iOS) our team of engineers generate a detailed report directly from your customer feedback.</p>
      </div>
      <div class="col-lg-4">
        <p>No more manually scanning through Yelp reviews. No more wondering if people like your new menu items. We do the work for you to help make every aspect of your restaurant easier to manage.</p>
      </div>
    </div>
  </div>
</section>
