<section>
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12 text-center">
	      <h2>SpeakEasy for Restaurants</h2>
	      <hr class="star-primary">
	    </div>
	  </div>
	  <div class="row">
	    Become a first adopter and get our service completely free until you decide you like us. We meet with each new partner personally to consider your specific needs and answer any of your questions. Choosing to stick with us and expanding the network will guarantee you a lifetime discount!
	  </div>
	</div>
</section>
