<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SpeakEasy</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="//www.parsecdn.com/js/parse-1.5.0.min.js"></script>
</head>
<body ng-controller="AppCtrl">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href ng-click="goToTop()">SpeakEasy</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden page-scroll">
            <a href ng-click="goToTop()"></a>
          </li>
          <li class="page-scroll">
            <a href ng-click="goToAbout()">About</a>
          </li>
          <li class="page-scroll">
            <a href ng-click="goToHowItWorks()">How it Works</a>
          </li>
          <li class="page-scroll">
            <a href ng-click="goToRestaurant()">For Restaurants</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Jumbotron -->
  <header class="success">
    <!--<speakeasy-jumbotron id="jumbotron"></speakeasy-jumbotron>-->
    <div id="top" ui-view></div>
    
  </header>

  <!-- About Us -->
  <about id="about"></about>

  <!-- Consumer Info -->
  <consumer id="howitworks"></consumer>

  <!-- Restaurant Info -->
  <restaurant id="restaurant"></restaurant>

  <!-- Footer -->
  <footer class="text-center">
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-6">
            <h3>Around the Web</h3>
            <ul class="list-inline">
              <li>
                <a href="https://itunes.apple.com/us/app/speakeasy-reviews/id984334367?mt=8" title="Consumer App" class="btn-social btn-outline" target="_blank"><span class="glyphicon glyphicon-user"></span></a>
              </li>
              <li>
                <a href="https://itunes.apple.com/us/app/speakeasy-business/id995812911?mt=8" title="Restaurant App" class="btn-social btn-outline" target="_blank"><span class="glyphicon glyphicon-qrcode"></span></a>
              </li>
            </ul>
          </div>
          <div class="footer-col col-md-6">
            <h3>Who we are</h3>
            <p>Four motivated entrepreneurs from Virginia Tech who have a passion for building awesome products for restaurants. We are dedicated to every one of our partners and will work with you every step of the way to ensure success. The Chatter team will make your life easier while creating exciting new consumer tech.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Copyright &copy; Chatter Inc. 2015
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href ng-click="goToTop()">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->


      <!-- <div ng-view></div> -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="app.js"></script>
<script src="services/ParseService.js"></script>
<script src="components/about/aboutDirective.js"></script>
<script src="components/consumer/consumerDirective.js"></script>
<script src="components/restaurant/restaurantDirective.js"></script>
<script src="components/jumbotron/jumbotron.js"></script>
</body>
</html>
