<section class="success">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12 text-center">
	      <h2>How it works</h2>
	      <hr class="star-light">
	    </div>
	  </div>
	  <div class="row">
	  	<div class="col-lg-8 col-lg-offset-2">
		  <p>
		    Servers present a unique QR code to each customer. After completing a review (service, food, and atmosphere) they are awarded points to spend on our network. They can come back to enjoy something new or spread the word about Chatter and the SpeakEasy App to more restaurants. You’ll attract new customers and have the chance to keep them coming back for more!
		  </p>
		</div>
	  </div>
	</div>
</section>
