
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">SpeakEasy</span>
          <hr class="star-light">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="input-group">
              <input name="email-field" type="text" class="form-control" placeholder="Your email address"
              ng-model="email">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="joinWaitlist()">Sign up</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
